{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>The Better Discord</title>
        <script src="{% static 'main.js' %}"></script>
        <script>
            var CSRF_TOKEN = '{{ csrf_token }}'
        </script>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body onload="">
        <h1>The Better Discord</h1>
        {% if request.user.is_authenticated %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}
        <h2>Messages</h2>
        <div id="messages" class="messages">
            {% if messages|length %}
                {% for message in messages %}
                    <div class="msg">
                        <!-- A03:2021 – Injection -->
                        <!-- Django and many other frameworks automatically escape strings these days. -->
                        <div class="name">{{ message.name }}</div><div class="content">{% autoescape off %}{{ message.message }}{% endautoescape %}</div>
                    </div>
                {% endfor %}
            {% else %}
                <p id="nomessages">There are no messages!</p>
            {% endif %}
        </div>
        <h2>New message:</h2>
        <div class="newmessage">
            <div>Nickname:</div>
            <input required type="text" id="name" value="{% if request.user.is_authenticated %}{{ request.user.username }}{% else %}Anonymous{% endif %}" readonly disabled />
            <div>Message:</div>
            <textarea id="message" placeholder="Write your message here."></textarea>
            <br />
            <button onclick="newMessage()">Post message</button>
        </div>
        {% csrf_token %}
    </body>
</html>
