<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
    </head>
    <body>
        <!-- A07:2021 – Identification and Authentication Failures -->
        <!-- CWE-620: Unverified Password Change -->
        <!-- <p>Type your old password to verify.</p> -->
        <p>Type your new password twice to change it.</p>
        <form method = "POST">
            {% csrf_token %}
            <p>
                <label>Verify:</label>
                <input type="password" name="check" />
            </p>
            <p>
                <label>New password:</label>
                <input type="password" name="password" />
            </p>
            <input type="submit" value="Change password" />
        </form>
        {% if request.method == 'POST' %}
            <p>{{ result }}</p>
        {% endif %}
    </body>
</html>
